aiohttp==3.8.1
async-timeout==4.0.1
attrs==21.2.0
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
click==8.0.3
cryptography==36.0.0
docopt==0.6.2
gidgethub==5.0.1
idna==3.3
irc3==1.1.6
limnoria==2021.11.20
multidict==5.2.0
openttd-helpers==1.0.1
pycparser==2.21
PyJWT==2.1.0
PyYAML==5.4.1
sentry-sdk==1.4.3
six==1.16.0
typing-extensions==3.10.0.2
uritemplate==3.0.1
urllib3==1.26.7
venusian==3.0.0
yarl==1.6.3
